<div class="mf-products-add-product-container tm-mt-big tm-mb-big">
    <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto" [formGroup]="productForm">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Add Product</h2>
                    </div>
                </div>
                <div class="row tm-edit-product-row">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="form-group mb-3">
                            <label for="name">Product Name
                            </label>
                            <input formControlName="nameProduct" id="name" name="name" type="text"
                                class="form-control validate" required />
                            <div *ngIf="!nameProduct?.valid 
                                && nameProduct?.touched" class="invalid">*Data cannot be blank
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="description">Description</label>
                            <textarea formControlName="description" class="form-control validate" rows="5"
                                required></textarea>
                            <div *ngIf="!productForm.controls.description?.valid 
                                && productForm.controls.description?.touched" class="invalid">*Data cannot be blank
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="price">Price
                            </label>
                            <input formControlName="price" id="name" name="price" type="number" (change)="changePrice()"
                                class="form-control validate" required />
                            <div *ngIf="!productForm.controls.price?.valid 
                                && productForm.controls.price?.touched" class="invalid">*Data cannot be blank
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="expire_date">Branch Name
                            </label>
                            <select formControlName="branchName" class="custom-select tm-select-accounts"
                                id="branchName" (change)="onBranchChange()">
                                <option selected value="0">Select branch</option>
                                <option *ngFor="let branch of listBranches" value="{{branch.branchName}}">
                                    {{branch.branchName}}</option>
                            </select>
                            <div *ngIf="productForm.controls.branchName?.touched 
                                && productForm.controls.branchName?.value == 0" class="invalid">*Data cannot be blank
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group mb-3 col-xs-12 col-sm-6">
                                <label for="category">Category</label>
                                <select formControlName="category" class="custom-select tm-select-accounts"
                                    id="category">
                                    <option selected value="0">Select category</option>
                                    <option *ngFor="let cate of listCategories" value="{{cate}}">{{cate}}</option>
                                </select>
                                <div *ngIf="productForm.controls.category?.value == 0 
                                && productForm.controls.category?.touched" class="invalid">*Data cannot be blank
                                </div>
                            </div>
                            <div class="form-group mb-3 col-xs-12 col-sm-6">
                                <label for="stock">Units In Stock
                                </label>
                                <input formControlName="quantity" id="stock" name="stock" type="number"
                                    class="form-control validate" (change)="changeQuantity()" required />
                                <div *ngIf="!quantity?.valid 
                                && quantity?.touched" class="invalid">*Data cannot be blank
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                        <div formArrayName="images" *ngFor="let image of images.controls; let i=index">
                            <div class="tm-product-img-dummy mx-auto"
                                [ngClass]="images.controls.length > 1 ? 'mt-4' : ''">
                                <i *ngIf="image.value == ''" class="fas fa-cloud-upload-alt tm-upload-icon"></i>
                                <img *ngIf="image.value == ''" id="output{{i}}" height="240" />
                                <img *ngIf="image.value != ''" id="output{{i}}" height="240" width="100%" />
                            </div>
                            <div class="custom-file mt-3 mb-3">
                                <input [formControlName]="i" id="fileInput{{i}}" type="file" (change)="readURL($event)"
                                    style="display: none;" accept="images/*" />
                                <input type="button" id="uploadFileBtn{{i}}" (click)="openFile(i)"
                                    class="btn btn-primary btn-block mx-auto" value="UPLOAD PRODUCT IMAGE" />
                            </div>
                        </div>
                        <input type="button" (click)="addMoreImages()"
                            class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4 mt-4 btn btn-primary btn-block mx-auto"
                            value="ADD IMAGE" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block text-uppercase"
                            (click)="addProduct()">Add Product
                            Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>