<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="mf-authentication-bg wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Sign In </h2>
        <h2 class="inactive underlineHover" onkeyup="" (click)="toSignUp()">Sign Up </h2>

        <!-- Icon -->
        <div class="fadeIn first">
            <span class="material-symbols-outlined">
                account_circle
            </span>
        </div>

        <!-- Login Form -->
        <div [formGroup]="signInForm">
            <input formControlName="username" type="text" id="login" class="fadeIn second" name="login"
                placeholder="username">
            <input formControlName="password" type="password" id="password" class="fadeIn third" name="login"
                placeholder="password">
            <input type="button" (click)="signIn()" class="fadeIn fourth" value="Log In">
        </div>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="">Forgot Password?</a>
        </div>

    </div>
</div>